@import './variables';

/**Mapa Google**/

.googlemap {
    // box-shadow: 0px -4px 16px 1px rgb(43 11 11 / 49%);
    background-color: black;
    filter: grayscale(70%);
    margin-top: 2rem;
}

.footer {
    margin: auto;
    background: rgb(51,12,47);
    background: linear-gradient(180deg, rgba(51,12,47,1) 66%, rgba(112,58,107,1) 95%);
    font-family: $font-title;
    color: white;
    display:flex;
    padding: 2rem 1rem 1rem 1rem;
}

/***************direccion***************/
.footer__address {
    margin-top: 10px;
    font-size: small;
}


/* *************copyrigh************* */
.footer__copyright {
    text-align: center;
    padding-top: 6%;
    font-size: xx-small;
    margin-left: auto;
    @media only screen and (max-width: $LowRes){
        display: none;
    }
}

/* *************redes sociales************* */
.footer__rrss {
    font-size: 50px;
    display: inline;
    font-size: small;
    display: inline-block;
    margin-left: inherit;
    @media only screen and (max-width: $LowRes){
        font-size: xx-small
    }
    img{
        float:right;
        width: 25px;
        height: 25px;
    }
}
