@import '../misc/variables';
    
    .contact{
        margin-bottom: 7rem;
        display: flex;
        margin-right: auto;
        justify-content: center;
        div {
            text-align: center;
            background: antiquewhite;
        }
        form{
            padding: 1rem;
            font-family: $font-text;
            input{
                background: #D9D9D9;
                border: 2px solid #000000;
                margin: 10px;
            }
            textarea{
                background: #D9D9D9;
                border: 2px solid #000000;
                margin: 10px;
            }
        }
        img{
            @media only screen and (max-width: 820px){
                display: none;
            }
        }
    }





