@import '../misc//mixings';

.salon {
    @include flexcenter;
    flex-direction: column;
    .salon__info{
        position: relative;
        left: -30px;
        padding: 1rem;
        background: #a5e3f8;
        display: flex;
        animation: aDer 2s 0s normal none;
        width: 1000px;
        height: auto;
        margin-bottom: 3rem;
        align-items: center;
        border: 1px solid rgba(43,43,43,0.36);
        box-shadow: 0px 1px 52px -6px rgba(17,153,230,0.56);
        -webkit-box-shadow: 0px 1px 52px -6px rgba(17,153,230,0.56);
        -moz-box-shadow: 0px 1px 52px -6px rgba(17,153,230,0.56);
        @keyframes aDer {
            0.0%{
                opacity: 0.1;
                transform: translate(-20px)
            }
            100%{
                opacity: 1;
            }
        }
        .salon__info-text1{
            text-align: center;
            font-family: $font-text;
            font-weight: bold;
            @media screen and (max-width: 878px){
                margin-top: 1rem;
            }
        } 
        @media screen and (max-width: 878px){
            width: 500px;
            padding: 1rem;
            @include flexcenter;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (max-width: 620px){
            left: unset;
            width: 300px;
        }
        .salon__info-img{
            @media screen and (max-width: 620px){
            width: 100%;
            }
        }
    }        
    .salon__info2{
        position: relative;
        width: 1000px;
        right: -30px;
        padding: 1rem;
        background: #f4a1d1;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        border: 1px solid rgba(43,43,43,0.36);
        box-shadow: 0px 1px 52px -6px rgba(230,17,193,0.56);
        -webkit-box-shadow: 0px 1px 52px -6px rgba(230,17,193,0.56);
        -moz-box-shadow: 0px 1px 52px -6px rgba(230,17,193,0.56);
        animation: aIz 2s 0s normal none;
        @keyframes aIz {
            0.0%{
                opacity: 0.1;
                transform: translate(20px)
            }
            100%{
                opacity: 1;
            }
        }
        .salon__info2-img{
            height: 100%;
            margin-right: 5px;
            margin-top: 4px;
        }
        .salon__info2-text{
            text-align: center;
            font-family: $font-text;
            font-weight: bold;
            @media screen and (max-width: 878px){
                margin-top: 1rem;
            }
        }
        @media screen and (max-width: 878px){
            @include flexcenter;
            justify-content: center;
            width: 500px;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (max-width: 620px){
            right: unset;
            width: 100%;
            @include flexcenter;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}


