@import '../misc//mixings';

.salon {
    @include flexcenter;
    flex-direction: column;
    .salon__info{
        position: relative;
        left: -30px;
        padding: 1rem;
        background: #a5e3f8;
        display: flex;
        animation: aDer 2s 0s normal none;
        width: 800px;
        height: auto;
        margin-bottom: 3rem;
        @keyframes aDer {
            0.0%{
                opacity: 0.1;
                transform: translate(-20px)
            }
            100%{
                opacity: 1;
            }
        }
        .salon__info-text1{
            text-align: right;
            font-family: $font-text;
        } 
        @media screen and (max-width: 878px){
            width: 500px;
            padding: 1rem;
            @include flexcenter;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (max-width: 620px){
            left: unset;
            width: 300px;
        }
        .salon__info-img{
            @media screen and (max-width: 620px){
            width: 100%;
            }
        }
    }        
    .salon__info2{
        position: relative;
        right: -30px;
        padding: 1rem;
        background: #f4a1d1;
        display: flex;
        flex-direction: row-reverse;
        animation: aIz 2s 0s normal none;
        @keyframes aIz {
            0.0%{
                opacity: 0.1;
                transform: translate(20px)
            }
            100%{
                opacity: 1;
            }
        }
        .salon__info2-img{
            height: 100%;
            margin-right: 5px;
            margin-top: 4px;
        }
        .salon__info2-text{
            text-align: left;
            font-family: $font-text;
        }
        @media screen and (max-width: 878px){
            @include flexcenter;
            justify-content: center;
            width: 500px;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (max-width: 620px){
            right: unset;
            width: 100%;
            @include flexcenter;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}


